<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SoundGUI/src/SoundGUI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="SoundGUI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="src/a_study.wav&#10;src/i_study.wav&#10;src/u_study.wav&#10;src/e_study.wav&#10;src/o_study.wav&#10;src/aiueo_split.wav"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SoundGUI"/>
</launchConfiguration>
